/**
 * html5 magazine
 * author: peter
 * date:2012-02-27
 */
.header {
	background: url(../images/header.jpg) repeat left top;
	text-align: center;
	line-height: 1.5em;
	color: #704F32;
	font-size: 12px;
	position: absolute;
	left: 30px;
	right: 30px;
	top: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.footer {
	background: url(../images/footer.jpg) repeat left top;
	position: absolute;
	left: 20px;
	right: 10px;
	bottom: -50px;
	color: #704F32;
	font-size: 12px;
	text-align: center;
}

.statement {
	
}